<p>Thanks for signing up <%= @user.first_name %>!</p>

<p>Follow this <%= link_to "link",confirm_signup_url(:id => @user.id,:host =>"guarded-sands-6916.herokuapp.com")%> and enter your code to verify account creation </p>

<p><%= @user.confirm_code %> </p>
