Hello <%= @user.name %>!

A new item has been found to match one of your wish list items. 
Here are the links to the items:

<% @item.each do |item| %>
   <li>
     <%= link_to item.name, item_url(item, :host => "cfz.herokuapp.com") %>
   </li>
<% end %>
