<% if @project.errors.any? %>
    <div class="alert alert-error">
      <strong> The form contains <%= pluralize(@project.errors.count, "error") %>: </strong>
    
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
   
  </div>
<% end %>
