
<footer class="footer">
  <div class="container" style="margin:0 auto;">
    <div class="row">
      <br />
      <div class="span2">
        <ul class ="footerlinks pull-left">
          <li><h4>About</h4></li>
          <li><%= link_to "About Us", '#' %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </div>
      <div class="pull-right">
        <p class="copyright">© No Agent Realty</p>
      </div>
    </div>
  </div>
</footer>